services:
  inventory-service:
    build: ../services/inventory-service
    container_name: orderhub-inventory-service
    environment:
      PORT: 3002
      DATABASE_URL: postgresql://${PG_USER}:${PG_PASSWORD}@inventory-db:5432/inventory
      REDIS_URL: redis://redis:6379
      ELASTIC_URL: http://elasticsearch:9200
    depends_on:
      - inventory-db
      - redis
      - elasticsearch
    networks: [orderhub-net]

  order-service:
    build: ../services/order-service
    container_name: orderhub-order-service
    environment:
      PORT: 3001
      DATABASE_URL: postgresql://${PG_USER}:${PG_PASSWORD}@orders-db:5432/orders
      INVENTORY_BASE_URL: http://inventory-service:3002
      RABBIT_URL: amqp://${RABBIT_USER}:${RABBIT_PASSWORD}@rabbitmq:5672
      PAYMENT_WEBHOOK_SECRET: dev_secret
      REDIS_URL: redis://redis:6379
    depends_on:
      - orders-db
      - rabbitmq
      - inventory-service
      - redis
    networks: [orderhub-net]

  notification-service:
    build: ../services/notification-service
    container_name: orderhub-notification-service
    environment:
      RABBIT_URL: amqp://${RABBIT_USER}:${RABBIT_PASSWORD}@rabbitmq:5672
    depends_on:
      - rabbitmq
    networks: [orderhub-net]

  billing-function:
    build: ../functions/billing-function
    container_name: orderhub-billing-function
    environment:
      PORT: 3003
      BILLING_DB_URL: postgresql://${PG_USER}:${PG_PASSWORD}@billing-db:5432/billing
      ORDER_BASE_URL: http://order-service:3001
      MINIO_ENDPOINT: minio
      MINIO_PORT: 9000
      MINIO_ACCESS_KEY: ${MINIO_ROOT_USER}
      MINIO_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      MINIO_BUCKET: ${MINIO_BUCKET}
      RABBIT_URL: amqp://${RABBIT_USER}:${RABBIT_PASSWORD}@rabbitmq:5672
    depends_on:
      - billing-db
      - minio
      - minio-mc
    networks: [orderhub-net]

networks:
  orderhub-net:
    name: infra_orderhub-net
    external: true
